<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${subject.subjectName}"></h1>
    <!-- <h2 th:text="${teacher.name}"></h2> -->
   

    <div>
        <button onclick="window.location.href='../subject/addsubject'">Add Subject</button>
    </div>

    <div th:each="topic: ${topics}">
        <!-- LOGIC to display all topics -->
        <div>
            <ul>
                <li><a th:text="${topic.topicName}" th:href="@{{topicId}(topicId=${topic.topicId})}"></a></li>
            </ul>
        </div>
    </div>
</body>    
</html>