<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Are you a->
    </h2>
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <a th:href="@{/student/login}">Student</a>
        <a th:href="@{/teacher/login}">Teacher</a>
        <a th:href="@{/admin/login}">Admin</a>
    </div>
</body>
</html>