<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <h2 style="text-align:center;margin:100px auto">
        LOGIN AS?
    </h2>
    <div style="margin:150px auto;display: flex; align-items: center; justify-content: space-around; ">
        <a th:href="@{/student/login}">Student</a>
        <a th:href="@{/teacher/login}">Teacher</a>
        <a th:href="@{/admin/login}">Admin</a>
    </div>
</body>
</html>