<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Student list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div th:switch="${students}">
        <h5 th:case="null"  style="margin:30px 40px;color: red;">No users yet!</h5>
        <div th:case="*">
            <h2 style="text-align: center;margin-bottom: 30px;">Students List</h2>
            <table style="border:1px solid black; width: 50%;margin: 0 auto;text-align: center;">
                <thead>
                    <tr style="padding:50px 50px;">
                        <th style="border:1px solid black;padding:10px 10px;">Name</th>
                        <th style="border:1px solid black;padding:10px 10px;">Email</th>
                        <th style="border:1px solid black;padding:10px 10px;">Dob</th>
                        <th style="border:1px solid black;padding:10px 10px;">Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="stu : ${students}">
                        <td th:text="${stu.name}" style="border:1px solid black;">Mehk</td>
                        <td th:text="${stu.email}" style="border:1px solid black;">mehk@gmail.com</td>
                        <td th:text="${stu.dob}" style="border:1px solid black;">31/5/2001</td>
                        <td th:text="${stu.age}" style="border:1px solid black;">21</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>