<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Index</title>
        <link th:href="@{/css/style.css}"
        rel="stylesheet">
    </head>
    <body>
    	<div th:switch="${students}">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Students</h2>
            <table style="border:1px solid black;">
                <thead>
                    <tr>
                        <th style="border:1px solid black;">Name</th>
                        <th style="border:1px solid black;">Email</th>
                        <th style="border:1px solid black;">Dob</th>
                        <th style="border:1px solid black;">Age</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="stu : ${students}">
                    <td th:text="${stu.name}" style="border:1px solid black;"></td>
                    <td th:text="${stu.email}" style="border:1px solid black;"></td>
                    <td th:text="${stu.dob}" style="border:1px solid black;"></td>
                    <td th:text="${stu.age}" style="border:1px solid black;"></td>
                </tr>
            </tbody>
        </table>
    </div>      
</div>
</body>
</html>
