<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button onclick="window.location.href='logout'">Logout</button>
    </div>
    <h1>Teacher home</h1>
    <h2>Login successful</h2>
    
    <div >
        <p th:text="${teacher.email}"></p>
        <br>
        <p th:text="${teacher.name}"></p> 
    </div>

    <div>
        <button onclick="window.location.href='../subject/addsubject'">Add Subject</button>
    </div>

    <div>
        <h3>My subjects</h3>
        <div th:each="s: ${subs}">
            <ul>
                <li><a th:href="@{../../../subject/{subjectCode}(subjectCode=${s.subjectCode})}" th:text="${s.subjectName}"></a></li>
                <li th:text="${s.subjectCode}"></li>
            </ul>
        </div>
    </div>
</body>    
</html>