<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button onclick="window.location.href='logout'">Logout</button>
    </div>

    <h2>Login successful</h2>
    
    <div >
        <p th:text="${student.email}"></p>
        <br>
        <p th:text="${student.name}"></p> 
    </div>
</body>    
</html>